// Header

@use '../base/variables' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  @include mc();

  // sticky nav
  width: 100%;
  position: fixed;
  z-index: 999;

  .show & {
    background-color: $color-accent;
  }

  .header-logo {
    width: 6rem;
    padding: 1rem;
  }

  @include mq($tablet) {
    .header-logo {
      width: 7rem;
      padding: 1.2rem;
    }
  }
}
