// Marquee text effect

@use '../base/variables' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.marquee {
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(0% + var(--offset)); // 2 spans
  --move-final: calc(-50% + var(--offset)); // 2 spans
}

.marquee-inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: running;
}

.marquee span {
  font-size: 10vw;
  padding: 0 2vw;
}

.marquee:hover .marquee-inner {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
